---
layout: layouts/base.njk
eleventyNavigation:
  key: Blogs
  order: 2
---
<h1>Blogs</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-5">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&w=800" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Project 1</text></img>
            <div class="card-body">
              <p class="card-text">This is a project that I have created from Fronted Mentor.</p>
              <div class="d-flex justify-content-between align-items-center">
               
                <small class="text-body-secondary">html - css - js</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&w=800" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Project 2</text></svg>
            <div class="card-body">
              <p class="card-text">This is a project that I have created from Fronted Mentor.</p>
              <div class="d-flex justify-content-between align-items-center">
                
                <small class="text-body-secondary">html - css</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&w=800" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Project 3</text></svg>
            <div class="card-body">
              <p class="card-text">This is a project that I have created from Fronted Mentor.</p>
              <div class="d-flex justify-content-between align-items-center">
                
                <small class="text-body-secondary">html - css - js -bootstrap</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&w=800" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Project 4</text></svg>
            <div class="card-body">
              <p class="card-text">This is a project that I have created from Fronted Mentor.</p>
              <div class="d-flex justify-content-between align-items-center">
                
                <small class="text-body-secondary">html - css - js</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&w=800" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Project 5</text></svg>
            <div class="card-body">
              <p class="card-text">This is a project that I have created from Fronted Mentor.</p>
              <div class="d-flex justify-content-between align-items-center">
               
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&w=800" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Project 6</text></svg>
            <div class="card-body">
              <p class="card-text">This is a project that I have created from Fronted Mentor.</p>
              <div class="d-flex justify-content-between align-items-center">
               
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>