---
layout: layouts/base.njk
---

<img src="./images/hero-image.svg" alt="hero image svg" width=75% style="display: block; text-align: center;margin:80px auto">


<h1>My journey to become a Web Developer!</h1> 
&nbsp;
 


<p style="font-size:1rem; line-height: 2">
I’m Kalaya, a front-end web developer and designer based in a town called Mirfield near Leeds.

I've been learning to build stuff on the web for past year using various resourses.

My focus is on creating engaging, accessible & performant interfaces for humans.
I am a passionate and innovative front-end web developer with a keen eye for creating seamless and engaging online experiences. Throughout my journey to become a web developer, I've created various projects that have showcased my skills in areas such as HTML, CSS, JavaScript, and various frameworks.

Whether it's building responsive and user-friendly interfaces or optimizing functionalities such as accessibility and SEO, I approach each project with enthusiasm and a commitment to delivering high-quality results.
</P>

{{ content | safe }}

