---
layout: layouts/base.njk
---

<h1>My journey to become a Web Developer!</h1>
<p>Here are the summary of what I have learnt throughout and projects that I have created.</P>


I am a passionate and innovative front-end web developer with a keen eye for creating seamless and engaging online experiences. Throughout my journey to become a web developer, I've created various projects that have showcased my skills in areas such as HTML, CSS, JavaScript, and various frameworks.

Whether it's building responsive and user-friendly interfaces or optimizing functionalities such as accessibility and SEO, I approach each project with enthusiasm and a commitment to delivering high-quality results.


{{ content | safe }}
